<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.xperia64.timidityae"
		  android:installLocation="auto"
		  android:versionCode="91"
		  android:versionName="3.0.1">

	<uses-feature
		android:name="android.software.leanback"
		android:required="false"/>
	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false"/>

	<uses-sdk
		android:minSdkVersion="9"
		android:targetSdkVersion="25"/>

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:allowBackup="true"
		android:banner="@drawable/banner"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/Theme.AppCompat">
		<activity
			android:name="com.xperia64.timidityae.TimidityActivity"
			android:configChanges="uiMode|keyboard|keyboardHidden|orientation|screenSize"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
				<category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data android:scheme="content"/>
				<data android:mimeType="audio/*"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>

				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>

				<data android:scheme="http"/>
				<data android:scheme="https"/>
				<data android:scheme="file"/>
				<data android:mimeType="*/*"/>
				<data android:host="*"/>

				<!-- One period. Android and it's silly intent-filters. -->
				<data android:pathPattern=".*\\.flac"/>
				<data android:pathPattern=".*\\.Flac"/>
				<data android:pathPattern=".*\\.fLac"/>
				<data android:pathPattern=".*\\.flAc"/>
				<data android:pathPattern=".*\\.flaC"/>
				<data android:pathPattern=".*\\.FLac"/>
				<data android:pathPattern=".*\\.FlAc"/>
				<data android:pathPattern=".*\\.FlaC"/>
				<data android:pathPattern=".*\\.fLAc"/>
				<data android:pathPattern=".*\\.fLaC"/>
				<data android:pathPattern=".*\\.flAC"/>
				<data android:pathPattern=".*\\.FLAc"/>
				<data android:pathPattern=".*\\.FlAC"/>
				<data android:pathPattern=".*\\.FLaC"/>
				<data android:pathPattern=".*\\.fLAC"/>
				<data android:pathPattern=".*\\.FLAC"/>
				<data android:pathPattern=".*\\.mid"/>
				<data android:pathPattern=".*\\.Mid"/>
				<data android:pathPattern=".*\\.mId"/>
				<data android:pathPattern=".*\\.miD"/>
				<data android:pathPattern=".*\\.MId"/>
				<data android:pathPattern=".*\\.mID"/>
				<data android:pathPattern=".*\\.MiD"/>
				<data android:pathPattern=".*\\.MID"/>
				<data android:pathPattern=".*\\.smf"/>
				<data android:pathPattern=".*\\.Smf"/>
				<data android:pathPattern=".*\\.sMf"/>
				<data android:pathPattern=".*\\.smF"/>
				<data android:pathPattern=".*\\.SMf"/>
				<data android:pathPattern=".*\\.sMF"/>
				<data android:pathPattern=".*\\.SmF"/>
				<data android:pathPattern=".*\\.SMF"/>
				<data android:pathPattern=".*\\.kar"/>
				<data android:pathPattern=".*\\.Kar"/>
				<data android:pathPattern=".*\\.kAr"/>
				<data android:pathPattern=".*\\.kaR"/>
				<data android:pathPattern=".*\\.KAr"/>
				<data android:pathPattern=".*\\.kAR"/>
				<data android:pathPattern=".*\\.KaR"/>
				<data android:pathPattern=".*\\.KAR"/>
				<data android:pathPattern=".*\\.m4a"/>
				<data android:pathPattern=".*\\.M4a"/>
				<data android:pathPattern=".*\\.m4A"/>
				<data android:pathPattern=".*\\.M4A"/>
				<data android:pathPattern=".*\\.midi"/>
				<data android:pathPattern=".*\\.Midi"/>
				<data android:pathPattern=".*\\.mIdi"/>
				<data android:pathPattern=".*\\.miDi"/>
				<data android:pathPattern=".*\\.midI"/>
				<data android:pathPattern=".*\\.MIdi"/>
				<data android:pathPattern=".*\\.MiDi"/>
				<data android:pathPattern=".*\\.MidI"/>
				<data android:pathPattern=".*\\.mIDi"/>
				<data android:pathPattern=".*\\.mIdI"/>
				<data android:pathPattern=".*\\.miDI"/>
				<data android:pathPattern=".*\\.MIDi"/>
				<data android:pathPattern=".*\\.mIDI"/>
				<data android:pathPattern=".*\\.MiDI"/>
				<data android:pathPattern=".*\\.MIdI"/>
				<data android:pathPattern=".*\\.MIDI"/>
				<data android:pathPattern=".*\\.mp3"/>
				<data android:pathPattern=".*\\.Mp3"/>
				<data android:pathPattern=".*\\.mP3"/>
				<data android:pathPattern=".*\\.MP3"/>
				<data android:pathPattern=".*\\.ogg"/>
				<data android:pathPattern=".*\\.Ogg"/>
				<data android:pathPattern=".*\\.oGg"/>
				<data android:pathPattern=".*\\.ogG"/>
				<data android:pathPattern=".*\\.OGg"/>
				<data android:pathPattern=".*\\.OgG"/>
				<data android:pathPattern=".*\\.oGG"/>
				<data android:pathPattern=".*\\.OGG"/>
				<data android:pathPattern=".*\\.669"/>
				<data android:pathPattern=".*\\.amf"/>
				<data android:pathPattern=".*\\.Amf"/>
				<data android:pathPattern=".*\\.aMf"/>
				<data android:pathPattern=".*\\.amF"/>
				<data android:pathPattern=".*\\.AMf"/>
				<data android:pathPattern=".*\\.AmF"/>
				<data android:pathPattern=".*\\.aMF"/>
				<data android:pathPattern=".*\\.AMF"/>
				<data android:pathPattern=".*\\.dsm"/>
				<data android:pathPattern=".*\\.Dsm"/>
				<data android:pathPattern=".*\\.dSm"/>
				<data android:pathPattern=".*\\.dsM"/>
				<data android:pathPattern=".*\\.DSm"/>
				<data android:pathPattern=".*\\.DsM"/>
				<data android:pathPattern=".*\\.dSM"/>
				<data android:pathPattern=".*\\.DSM"/>
				<data android:pathPattern=".*\\.far"/>
				<data android:pathPattern=".*\\.Far"/>
				<data android:pathPattern=".*\\.fAr"/>
				<data android:pathPattern=".*\\.faR"/>
				<data android:pathPattern=".*\\.FAr"/>
				<data android:pathPattern=".*\\.FaR"/>
				<data android:pathPattern=".*\\.fAR"/>
				<data android:pathPattern=".*\\.FAR"/>
				<data android:pathPattern=".*\\.gdm"/>
				<data android:pathPattern=".*\\.Gdm"/>
				<data android:pathPattern=".*\\.gDm"/>
				<data android:pathPattern=".*\\.gdM"/>
				<data android:pathPattern=".*\\.GDm"/>
				<data android:pathPattern=".*\\.GdM"/>
				<data android:pathPattern=".*\\.gDM"/>
				<data android:pathPattern=".*\\.GDM"/>
				<data android:pathPattern=".*\\.imf"/>
				<data android:pathPattern=".*\\.Imf"/>
				<data android:pathPattern=".*\\.iMf"/>
				<data android:pathPattern=".*\\.imF"/>
				<data android:pathPattern=".*\\.IMf"/>
				<data android:pathPattern=".*\\.ImF"/>
				<data android:pathPattern=".*\\.iMF"/>
				<data android:pathPattern=".*\\.IMF"/>
				<data android:pathPattern=".*\\.it"/>
				<data android:pathPattern=".*\\.It"/>
				<data android:pathPattern=".*\\.iT"/>
				<data android:pathPattern=".*\\.IT"/>
				<data android:pathPattern=".*\\.med"/>
				<data android:pathPattern=".*\\.Med"/>
				<data android:pathPattern=".*\\.mEd"/>
				<data android:pathPattern=".*\\.meD"/>
				<data android:pathPattern=".*\\.MEd"/>
				<data android:pathPattern=".*\\.MeD"/>
				<data android:pathPattern=".*\\.mED"/>
				<data android:pathPattern=".*\\.MED"/>
				<data android:pathPattern=".*\\.mod"/>
				<data android:pathPattern=".*\\.Mod"/>
				<data android:pathPattern=".*\\.mOd"/>
				<data android:pathPattern=".*\\.moD"/>
				<data android:pathPattern=".*\\.MOd"/>
				<data android:pathPattern=".*\\.MoD"/>
				<data android:pathPattern=".*\\.mOD"/>
				<data android:pathPattern=".*\\.MOD"/>
				<data android:pathPattern=".*\\.mtm"/>
				<data android:pathPattern=".*\\.Mtm"/>
				<data android:pathPattern=".*\\.mTm"/>
				<data android:pathPattern=".*\\.mtM"/>
				<data android:pathPattern=".*\\.MTm"/>
				<data android:pathPattern=".*\\.MtM"/>
				<data android:pathPattern=".*\\.mTM"/>
				<data android:pathPattern=".*\\.MTM"/>
				<data android:pathPattern=".*\\.s3m"/>
				<data android:pathPattern=".*\\.S3m"/>
				<data android:pathPattern=".*\\.s3M"/>
				<data android:pathPattern=".*\\.S3M"/>
				<data android:pathPattern=".*\\.stm"/>
				<data android:pathPattern=".*\\.Stm"/>
				<data android:pathPattern=".*\\.sTm"/>
				<data android:pathPattern=".*\\.stM"/>
				<data android:pathPattern=".*\\.STm"/>
				<data android:pathPattern=".*\\.StM"/>
				<data android:pathPattern=".*\\.sTM"/>
				<data android:pathPattern=".*\\.STM"/>
				<data android:pathPattern=".*\\.stx"/>
				<data android:pathPattern=".*\\.Stx"/>
				<data android:pathPattern=".*\\.sTx"/>
				<data android:pathPattern=".*\\.stX"/>
				<data android:pathPattern=".*\\.STx"/>
				<data android:pathPattern=".*\\.StX"/>
				<data android:pathPattern=".*\\.sTX"/>
				<data android:pathPattern=".*\\.STX"/>
				<data android:pathPattern=".*\\.ult"/>
				<data android:pathPattern=".*\\.Ult"/>
				<data android:pathPattern=".*\\.uLt"/>
				<data android:pathPattern=".*\\.ulT"/>
				<data android:pathPattern=".*\\.ULt"/>
				<data android:pathPattern=".*\\.UlT"/>
				<data android:pathPattern=".*\\.uLT"/>
				<data android:pathPattern=".*\\.ULT"/>
				<data android:pathPattern=".*\\.uni"/>
				<data android:pathPattern=".*\\.Uni"/>
				<data android:pathPattern=".*\\.uNi"/>
				<data android:pathPattern=".*\\.unI"/>
				<data android:pathPattern=".*\\.UNi"/>
				<data android:pathPattern=".*\\.UnI"/>
				<data android:pathPattern=".*\\.uNI"/>
				<data android:pathPattern=".*\\.UNI"/>
				<data android:pathPattern=".*\\.xm"/>
				<data android:pathPattern=".*\\.Xm"/>
				<data android:pathPattern=".*\\.xM"/>
				<data android:pathPattern=".*\\.XM"/>
				<data android:pathPattern=".*\\.wav"/>
				<data android:pathPattern=".*\\.Wav"/>
				<data android:pathPattern=".*\\.wAv"/>
				<data android:pathPattern=".*\\.waV"/>
				<data android:pathPattern=".*\\.WAv"/>
				<data android:pathPattern=".*\\.WaV"/>
				<data android:pathPattern=".*\\.wAV"/>
				<data android:pathPattern=".*\\.WAV"/>
				<!-- Two periods -->
				<data android:pathPattern=".*\\..*\\.flac"/>
				<data android:pathPattern=".*\\..*\\.Flac"/>
				<data android:pathPattern=".*\\..*\\.fLac"/>
				<data android:pathPattern=".*\\..*\\.flAc"/>
				<data android:pathPattern=".*\\..*\\.flaC"/>
				<data android:pathPattern=".*\\..*\\.FLac"/>
				<data android:pathPattern=".*\\..*\\.FlAc"/>
				<data android:pathPattern=".*\\..*\\.FlaC"/>
				<data android:pathPattern=".*\\..*\\.fLAc"/>
				<data android:pathPattern=".*\\..*\\.fLaC"/>
				<data android:pathPattern=".*\\..*\\.flAC"/>
				<data android:pathPattern=".*\\..*\\.FLAc"/>
				<data android:pathPattern=".*\\..*\\.FlAC"/>
				<data android:pathPattern=".*\\..*\\.FLaC"/>
				<data android:pathPattern=".*\\..*\\.fLAC"/>
				<data android:pathPattern=".*\\..*\\.FLAC"/>
				<data android:pathPattern=".*\\..*\\.mid"/>
				<data android:pathPattern=".*\\..*\\.Mid"/>
				<data android:pathPattern=".*\\..*\\.mId"/>
				<data android:pathPattern=".*\\..*\\.miD"/>
				<data android:pathPattern=".*\\..*\\.MId"/>
				<data android:pathPattern=".*\\..*\\.mID"/>
				<data android:pathPattern=".*\\..*\\.MiD"/>
				<data android:pathPattern=".*\\..*\\.MID"/>
				<data android:pathPattern=".*\\..*\\.smf"/>
				<data android:pathPattern=".*\\..*\\.Smf"/>
				<data android:pathPattern=".*\\..*\\.sMf"/>
				<data android:pathPattern=".*\\..*\\.smF"/>
				<data android:pathPattern=".*\\..*\\.SMf"/>
				<data android:pathPattern=".*\\..*\\.sMF"/>
				<data android:pathPattern=".*\\..*\\.SmF"/>
				<data android:pathPattern=".*\\..*\\.SMF"/>
				<data android:pathPattern=".*\\..*\\.kar"/>
				<data android:pathPattern=".*\\..*\\.Kar"/>
				<data android:pathPattern=".*\\..*\\.kAr"/>
				<data android:pathPattern=".*\\..*\\.kaR"/>
				<data android:pathPattern=".*\\..*\\.KAr"/>
				<data android:pathPattern=".*\\..*\\.kAR"/>
				<data android:pathPattern=".*\\..*\\.KaR"/>
				<data android:pathPattern=".*\\..*\\.KAR"/>
				<data android:pathPattern=".*\\..*\\.m4a"/>
				<data android:pathPattern=".*\\..*\\.M4a"/>
				<data android:pathPattern=".*\\..*\\.m4A"/>
				<data android:pathPattern=".*\\..*\\.M4A"/>
				<data android:pathPattern=".*\\..*\\.midi"/>
				<data android:pathPattern=".*\\..*\\.Midi"/>
				<data android:pathPattern=".*\\..*\\.mIdi"/>
				<data android:pathPattern=".*\\..*\\.miDi"/>
				<data android:pathPattern=".*\\..*\\.midI"/>
				<data android:pathPattern=".*\\..*\\.MIdi"/>
				<data android:pathPattern=".*\\..*\\.MiDi"/>
				<data android:pathPattern=".*\\..*\\.MidI"/>
				<data android:pathPattern=".*\\..*\\.mIDi"/>
				<data android:pathPattern=".*\\..*\\.mIdI"/>
				<data android:pathPattern=".*\\..*\\.miDI"/>
				<data android:pathPattern=".*\\..*\\.MIDi"/>
				<data android:pathPattern=".*\\..*\\.mIDI"/>
				<data android:pathPattern=".*\\..*\\.MiDI"/>
				<data android:pathPattern=".*\\..*\\.MIdI"/>
				<data android:pathPattern=".*\\..*\\.MIDI"/>
				<data android:pathPattern=".*\\..*\\.mp3"/>
				<data android:pathPattern=".*\\..*\\.Mp3"/>
				<data android:pathPattern=".*\\..*\\.mP3"/>
				<data android:pathPattern=".*\\..*\\.MP3"/>
				<data android:pathPattern=".*\\..*\\.ogg"/>
				<data android:pathPattern=".*\\..*\\.Ogg"/>
				<data android:pathPattern=".*\\..*\\.oGg"/>
				<data android:pathPattern=".*\\..*\\.ogG"/>
				<data android:pathPattern=".*\\..*\\.OGg"/>
				<data android:pathPattern=".*\\..*\\.OgG"/>
				<data android:pathPattern=".*\\..*\\.oGG"/>
				<data android:pathPattern=".*\\..*\\.OGG"/>
				<data android:pathPattern=".*\\..*\\.669"/>
				<data android:pathPattern=".*\\..*\\.amf"/>
				<data android:pathPattern=".*\\..*\\.Amf"/>
				<data android:pathPattern=".*\\..*\\.aMf"/>
				<data android:pathPattern=".*\\..*\\.amF"/>
				<data android:pathPattern=".*\\..*\\.AMf"/>
				<data android:pathPattern=".*\\..*\\.AmF"/>
				<data android:pathPattern=".*\\..*\\.aMF"/>
				<data android:pathPattern=".*\\..*\\.AMF"/>
				<data android:pathPattern=".*\\..*\\.dsm"/>
				<data android:pathPattern=".*\\..*\\.Dsm"/>
				<data android:pathPattern=".*\\..*\\.dSm"/>
				<data android:pathPattern=".*\\..*\\.dsM"/>
				<data android:pathPattern=".*\\..*\\.DSm"/>
				<data android:pathPattern=".*\\..*\\.DsM"/>
				<data android:pathPattern=".*\\..*\\.dSM"/>
				<data android:pathPattern=".*\\..*\\.DSM"/>
				<data android:pathPattern=".*\\..*\\.far"/>
				<data android:pathPattern=".*\\..*\\.Far"/>
				<data android:pathPattern=".*\\..*\\.fAr"/>
				<data android:pathPattern=".*\\..*\\.faR"/>
				<data android:pathPattern=".*\\..*\\.FAr"/>
				<data android:pathPattern=".*\\..*\\.FaR"/>
				<data android:pathPattern=".*\\..*\\.fAR"/>
				<data android:pathPattern=".*\\..*\\.FAR"/>
				<data android:pathPattern=".*\\..*\\.gdm"/>
				<data android:pathPattern=".*\\..*\\.Gdm"/>
				<data android:pathPattern=".*\\..*\\.gDm"/>
				<data android:pathPattern=".*\\..*\\.gdM"/>
				<data android:pathPattern=".*\\..*\\.GDm"/>
				<data android:pathPattern=".*\\..*\\.GdM"/>
				<data android:pathPattern=".*\\..*\\.gDM"/>
				<data android:pathPattern=".*\\..*\\.GDM"/>
				<data android:pathPattern=".*\\..*\\.imf"/>
				<data android:pathPattern=".*\\..*\\.Imf"/>
				<data android:pathPattern=".*\\..*\\.iMf"/>
				<data android:pathPattern=".*\\..*\\.imF"/>
				<data android:pathPattern=".*\\..*\\.IMf"/>
				<data android:pathPattern=".*\\..*\\.ImF"/>
				<data android:pathPattern=".*\\..*\\.iMF"/>
				<data android:pathPattern=".*\\..*\\.IMF"/>
				<data android:pathPattern=".*\\..*\\.it"/>
				<data android:pathPattern=".*\\..*\\.It"/>
				<data android:pathPattern=".*\\..*\\.iT"/>
				<data android:pathPattern=".*\\..*\\.IT"/>
				<data android:pathPattern=".*\\..*\\.med"/>
				<data android:pathPattern=".*\\..*\\.Med"/>
				<data android:pathPattern=".*\\..*\\.mEd"/>
				<data android:pathPattern=".*\\..*\\.meD"/>
				<data android:pathPattern=".*\\..*\\.MEd"/>
				<data android:pathPattern=".*\\..*\\.MeD"/>
				<data android:pathPattern=".*\\..*\\.mED"/>
				<data android:pathPattern=".*\\..*\\.MED"/>
				<data android:pathPattern=".*\\..*\\.mod"/>
				<data android:pathPattern=".*\\..*\\.Mod"/>
				<data android:pathPattern=".*\\..*\\.mOd"/>
				<data android:pathPattern=".*\\..*\\.moD"/>
				<data android:pathPattern=".*\\..*\\.MOd"/>
				<data android:pathPattern=".*\\..*\\.MoD"/>
				<data android:pathPattern=".*\\..*\\.mOD"/>
				<data android:pathPattern=".*\\..*\\.MOD"/>
				<data android:pathPattern=".*\\..*\\.mtm"/>
				<data android:pathPattern=".*\\..*\\.Mtm"/>
				<data android:pathPattern=".*\\..*\\.mTm"/>
				<data android:pathPattern=".*\\..*\\.mtM"/>
				<data android:pathPattern=".*\\..*\\.MTm"/>
				<data android:pathPattern=".*\\..*\\.MtM"/>
				<data android:pathPattern=".*\\..*\\.mTM"/>
				<data android:pathPattern=".*\\..*\\.MTM"/>
				<data android:pathPattern=".*\\..*\\.s3m"/>
				<data android:pathPattern=".*\\..*\\.S3m"/>
				<data android:pathPattern=".*\\..*\\.s3M"/>
				<data android:pathPattern=".*\\..*\\.S3M"/>
				<data android:pathPattern=".*\\..*\\.stm"/>
				<data android:pathPattern=".*\\..*\\.Stm"/>
				<data android:pathPattern=".*\\..*\\.sTm"/>
				<data android:pathPattern=".*\\..*\\.stM"/>
				<data android:pathPattern=".*\\..*\\.STm"/>
				<data android:pathPattern=".*\\..*\\.StM"/>
				<data android:pathPattern=".*\\..*\\.sTM"/>
				<data android:pathPattern=".*\\..*\\.STM"/>
				<data android:pathPattern=".*\\..*\\.stx"/>
				<data android:pathPattern=".*\\..*\\.Stx"/>
				<data android:pathPattern=".*\\..*\\.sTx"/>
				<data android:pathPattern=".*\\..*\\.stX"/>
				<data android:pathPattern=".*\\..*\\.STx"/>
				<data android:pathPattern=".*\\..*\\.StX"/>
				<data android:pathPattern=".*\\..*\\.sTX"/>
				<data android:pathPattern=".*\\..*\\.STX"/>
				<data android:pathPattern=".*\\..*\\.ult"/>
				<data android:pathPattern=".*\\..*\\.Ult"/>
				<data android:pathPattern=".*\\..*\\.uLt"/>
				<data android:pathPattern=".*\\..*\\.ulT"/>
				<data android:pathPattern=".*\\..*\\.ULt"/>
				<data android:pathPattern=".*\\..*\\.UlT"/>
				<data android:pathPattern=".*\\..*\\.uLT"/>
				<data android:pathPattern=".*\\..*\\.ULT"/>
				<data android:pathPattern=".*\\..*\\.uni"/>
				<data android:pathPattern=".*\\..*\\.Uni"/>
				<data android:pathPattern=".*\\..*\\.uNi"/>
				<data android:pathPattern=".*\\..*\\.unI"/>
				<data android:pathPattern=".*\\..*\\.UNi"/>
				<data android:pathPattern=".*\\..*\\.UnI"/>
				<data android:pathPattern=".*\\..*\\.uNI"/>
				<data android:pathPattern=".*\\..*\\.UNI"/>
				<data android:pathPattern=".*\\..*\\.xm"/>
				<data android:pathPattern=".*\\..*\\.Xm"/>
				<data android:pathPattern=".*\\..*\\.xM"/>
				<data android:pathPattern=".*\\..*\\.XM"/>
				<data android:pathPattern=".*\\..*\\.wav"/>
				<data android:pathPattern=".*\\..*\\.Wav"/>
				<data android:pathPattern=".*\\..*\\.wAv"/>
				<data android:pathPattern=".*\\..*\\.waV"/>
				<data android:pathPattern=".*\\..*\\.WAv"/>
				<data android:pathPattern=".*\\..*\\.WaV"/>
				<data android:pathPattern=".*\\..*\\.wAV"/>
				<data android:pathPattern=".*\\..*\\.WAV"/>
				<!-- Three periods -->
				<data android:pathPattern=".*\\..*\\..*\\.flac"/>
				<data android:pathPattern=".*\\..*\\..*\\.Flac"/>
				<data android:pathPattern=".*\\..*\\..*\\.fLac"/>
				<data android:pathPattern=".*\\..*\\..*\\.flAc"/>
				<data android:pathPattern=".*\\..*\\..*\\.flaC"/>
				<data android:pathPattern=".*\\..*\\..*\\.FLac"/>
				<data android:pathPattern=".*\\..*\\..*\\.FlAc"/>
				<data android:pathPattern=".*\\..*\\..*\\.FlaC"/>
				<data android:pathPattern=".*\\..*\\..*\\.fLAc"/>
				<data android:pathPattern=".*\\..*\\..*\\.fLaC"/>
				<data android:pathPattern=".*\\..*\\..*\\.flAC"/>
				<data android:pathPattern=".*\\..*\\..*\\.FLAc"/>
				<data android:pathPattern=".*\\..*\\..*\\.FlAC"/>
				<data android:pathPattern=".*\\..*\\..*\\.FLaC"/>
				<data android:pathPattern=".*\\..*\\..*\\.fLAC"/>
				<data android:pathPattern=".*\\..*\\..*\\.FLAC"/>
				<data android:pathPattern=".*\\..*\\..*\\.mid"/>
				<data android:pathPattern=".*\\..*\\..*\\.Mid"/>
				<data android:pathPattern=".*\\..*\\..*\\.mId"/>
				<data android:pathPattern=".*\\..*\\..*\\.miD"/>
				<data android:pathPattern=".*\\..*\\..*\\.MId"/>
				<data android:pathPattern=".*\\..*\\..*\\.mID"/>
				<data android:pathPattern=".*\\..*\\..*\\.MiD"/>
				<data android:pathPattern=".*\\..*\\..*\\.MID"/>
				<data android:pathPattern=".*\\..*\\..*\\.smf"/>
				<data android:pathPattern=".*\\..*\\..*\\.Smf"/>
				<data android:pathPattern=".*\\..*\\..*\\.sMf"/>
				<data android:pathPattern=".*\\..*\\..*\\.smF"/>
				<data android:pathPattern=".*\\..*\\..*\\.SMf"/>
				<data android:pathPattern=".*\\..*\\..*\\.sMF"/>
				<data android:pathPattern=".*\\..*\\..*\\.SmF"/>
				<data android:pathPattern=".*\\..*\\..*\\.SMF"/>
				<data android:pathPattern=".*\\..*\\..*\\.kar"/>
				<data android:pathPattern=".*\\..*\\..*\\.Kar"/>
				<data android:pathPattern=".*\\..*\\..*\\.kAr"/>
				<data android:pathPattern=".*\\..*\\..*\\.kaR"/>
				<data android:pathPattern=".*\\..*\\..*\\.KAr"/>
				<data android:pathPattern=".*\\..*\\..*\\.kAR"/>
				<data android:pathPattern=".*\\..*\\..*\\.KaR"/>
				<data android:pathPattern=".*\\..*\\..*\\.KAR"/>
				<data android:pathPattern=".*\\..*\\..*\\.m4a"/>
				<data android:pathPattern=".*\\..*\\..*\\.M4a"/>
				<data android:pathPattern=".*\\..*\\..*\\.m4A"/>
				<data android:pathPattern=".*\\..*\\..*\\.M4A"/>
				<data android:pathPattern=".*\\..*\\..*\\.midi"/>
				<data android:pathPattern=".*\\..*\\..*\\.Midi"/>
				<data android:pathPattern=".*\\..*\\..*\\.mIdi"/>
				<data android:pathPattern=".*\\..*\\..*\\.miDi"/>
				<data android:pathPattern=".*\\..*\\..*\\.midI"/>
				<data android:pathPattern=".*\\..*\\..*\\.MIdi"/>
				<data android:pathPattern=".*\\..*\\..*\\.MiDi"/>
				<data android:pathPattern=".*\\..*\\..*\\.MidI"/>
				<data android:pathPattern=".*\\..*\\..*\\.mIDi"/>
				<data android:pathPattern=".*\\..*\\..*\\.mIdI"/>
				<data android:pathPattern=".*\\..*\\..*\\.miDI"/>
				<data android:pathPattern=".*\\..*\\..*\\.MIDi"/>
				<data android:pathPattern=".*\\..*\\..*\\.mIDI"/>
				<data android:pathPattern=".*\\..*\\..*\\.MiDI"/>
				<data android:pathPattern=".*\\..*\\..*\\.MIdI"/>
				<data android:pathPattern=".*\\..*\\..*\\.MIDI"/>
				<data android:pathPattern=".*\\..*\\..*\\.mp3"/>
				<data android:pathPattern=".*\\..*\\..*\\.Mp3"/>
				<data android:pathPattern=".*\\..*\\..*\\.mP3"/>
				<data android:pathPattern=".*\\..*\\..*\\.MP3"/>
				<data android:pathPattern=".*\\..*\\..*\\.ogg"/>
				<data android:pathPattern=".*\\..*\\..*\\.Ogg"/>
				<data android:pathPattern=".*\\..*\\..*\\.oGg"/>
				<data android:pathPattern=".*\\..*\\..*\\.ogG"/>
				<data android:pathPattern=".*\\..*\\..*\\.OGg"/>
				<data android:pathPattern=".*\\..*\\..*\\.OgG"/>
				<data android:pathPattern=".*\\..*\\..*\\.oGG"/>
				<data android:pathPattern=".*\\..*\\..*\\.OGG"/>
				<data android:pathPattern=".*\\..*\\..*\\.669"/>
				<data android:pathPattern=".*\\..*\\..*\\.amf"/>
				<data android:pathPattern=".*\\..*\\..*\\.Amf"/>
				<data android:pathPattern=".*\\..*\\..*\\.aMf"/>
				<data android:pathPattern=".*\\..*\\..*\\.amF"/>
				<data android:pathPattern=".*\\..*\\..*\\.AMf"/>
				<data android:pathPattern=".*\\..*\\..*\\.AmF"/>
				<data android:pathPattern=".*\\..*\\..*\\.aMF"/>
				<data android:pathPattern=".*\\..*\\..*\\.AMF"/>
				<data android:pathPattern=".*\\..*\\..*\\.dsm"/>
				<data android:pathPattern=".*\\..*\\..*\\.Dsm"/>
				<data android:pathPattern=".*\\..*\\..*\\.dSm"/>
				<data android:pathPattern=".*\\..*\\..*\\.dsM"/>
				<data android:pathPattern=".*\\..*\\..*\\.DSm"/>
				<data android:pathPattern=".*\\..*\\..*\\.DsM"/>
				<data android:pathPattern=".*\\..*\\..*\\.dSM"/>
				<data android:pathPattern=".*\\..*\\..*\\.DSM"/>
				<data android:pathPattern=".*\\..*\\..*\\.far"/>
				<data android:pathPattern=".*\\..*\\..*\\.Far"/>
				<data android:pathPattern=".*\\..*\\..*\\.fAr"/>
				<data android:pathPattern=".*\\..*\\..*\\.faR"/>
				<data android:pathPattern=".*\\..*\\..*\\.FAr"/>
				<data android:pathPattern=".*\\..*\\..*\\.FaR"/>
				<data android:pathPattern=".*\\..*\\..*\\.fAR"/>
				<data android:pathPattern=".*\\..*\\..*\\.FAR"/>
				<data android:pathPattern=".*\\..*\\..*\\.gdm"/>
				<data android:pathPattern=".*\\..*\\..*\\.Gdm"/>
				<data android:pathPattern=".*\\..*\\..*\\.gDm"/>
				<data android:pathPattern=".*\\..*\\..*\\.gdM"/>
				<data android:pathPattern=".*\\..*\\..*\\.GDm"/>
				<data android:pathPattern=".*\\..*\\..*\\.GdM"/>
				<data android:pathPattern=".*\\..*\\..*\\.gDM"/>
				<data android:pathPattern=".*\\..*\\..*\\.GDM"/>
				<data android:pathPattern=".*\\..*\\..*\\.imf"/>
				<data android:pathPattern=".*\\..*\\..*\\.Imf"/>
				<data android:pathPattern=".*\\..*\\..*\\.iMf"/>
				<data android:pathPattern=".*\\..*\\..*\\.imF"/>
				<data android:pathPattern=".*\\..*\\..*\\.IMf"/>
				<data android:pathPattern=".*\\..*\\..*\\.ImF"/>
				<data android:pathPattern=".*\\..*\\..*\\.iMF"/>
				<data android:pathPattern=".*\\..*\\..*\\.IMF"/>
				<data android:pathPattern=".*\\..*\\..*\\.it"/>
				<data android:pathPattern=".*\\..*\\..*\\.It"/>
				<data android:pathPattern=".*\\..*\\..*\\.iT"/>
				<data android:pathPattern=".*\\..*\\..*\\.IT"/>
				<data android:pathPattern=".*\\..*\\..*\\.med"/>
				<data android:pathPattern=".*\\..*\\..*\\.Med"/>
				<data android:pathPattern=".*\\..*\\..*\\.mEd"/>
				<data android:pathPattern=".*\\..*\\..*\\.meD"/>
				<data android:pathPattern=".*\\..*\\..*\\.MEd"/>
				<data android:pathPattern=".*\\..*\\..*\\.MeD"/>
				<data android:pathPattern=".*\\..*\\..*\\.mED"/>
				<data android:pathPattern=".*\\..*\\..*\\.MED"/>
				<data android:pathPattern=".*\\..*\\..*\\.mod"/>
				<data android:pathPattern=".*\\..*\\..*\\.Mod"/>
				<data android:pathPattern=".*\\..*\\..*\\.mOd"/>
				<data android:pathPattern=".*\\..*\\..*\\.moD"/>
				<data android:pathPattern=".*\\..*\\..*\\.MOd"/>
				<data android:pathPattern=".*\\..*\\..*\\.MoD"/>
				<data android:pathPattern=".*\\..*\\..*\\.mOD"/>
				<data android:pathPattern=".*\\..*\\..*\\.MOD"/>
				<data android:pathPattern=".*\\..*\\..*\\.mtm"/>
				<data android:pathPattern=".*\\..*\\..*\\.Mtm"/>
				<data android:pathPattern=".*\\..*\\..*\\.mTm"/>
				<data android:pathPattern=".*\\..*\\..*\\.mtM"/>
				<data android:pathPattern=".*\\..*\\..*\\.MTm"/>
				<data android:pathPattern=".*\\..*\\..*\\.MtM"/>
				<data android:pathPattern=".*\\..*\\..*\\.mTM"/>
				<data android:pathPattern=".*\\..*\\..*\\.MTM"/>
				<data android:pathPattern=".*\\..*\\..*\\.s3m"/>
				<data android:pathPattern=".*\\..*\\..*\\.S3m"/>
				<data android:pathPattern=".*\\..*\\..*\\.s3M"/>
				<data android:pathPattern=".*\\..*\\..*\\.S3M"/>
				<data android:pathPattern=".*\\..*\\..*\\.stm"/>
				<data android:pathPattern=".*\\..*\\..*\\.Stm"/>
				<data android:pathPattern=".*\\..*\\..*\\.sTm"/>
				<data android:pathPattern=".*\\..*\\..*\\.stM"/>
				<data android:pathPattern=".*\\..*\\..*\\.STm"/>
				<data android:pathPattern=".*\\..*\\..*\\.StM"/>
				<data android:pathPattern=".*\\..*\\..*\\.sTM"/>
				<data android:pathPattern=".*\\..*\\..*\\.STM"/>
				<data android:pathPattern=".*\\..*\\..*\\.stx"/>
				<data android:pathPattern=".*\\..*\\..*\\.Stx"/>
				<data android:pathPattern=".*\\..*\\..*\\.sTx"/>
				<data android:pathPattern=".*\\..*\\..*\\.stX"/>
				<data android:pathPattern=".*\\..*\\..*\\.STx"/>
				<data android:pathPattern=".*\\..*\\..*\\.StX"/>
				<data android:pathPattern=".*\\..*\\..*\\.sTX"/>
				<data android:pathPattern=".*\\..*\\..*\\.STX"/>
				<data android:pathPattern=".*\\..*\\..*\\.ult"/>
				<data android:pathPattern=".*\\..*\\..*\\.Ult"/>
				<data android:pathPattern=".*\\..*\\..*\\.uLt"/>
				<data android:pathPattern=".*\\..*\\..*\\.ulT"/>
				<data android:pathPattern=".*\\..*\\..*\\.ULt"/>
				<data android:pathPattern=".*\\..*\\..*\\.UlT"/>
				<data android:pathPattern=".*\\..*\\..*\\.uLT"/>
				<data android:pathPattern=".*\\..*\\..*\\.ULT"/>
				<data android:pathPattern=".*\\..*\\..*\\.uni"/>
				<data android:pathPattern=".*\\..*\\..*\\.Uni"/>
				<data android:pathPattern=".*\\..*\\..*\\.uNi"/>
				<data android:pathPattern=".*\\..*\\..*\\.unI"/>
				<data android:pathPattern=".*\\..*\\..*\\.UNi"/>
				<data android:pathPattern=".*\\..*\\..*\\.UnI"/>
				<data android:pathPattern=".*\\..*\\..*\\.uNI"/>
				<data android:pathPattern=".*\\..*\\..*\\.UNI"/>
				<data android:pathPattern=".*\\..*\\..*\\.xm"/>
				<data android:pathPattern=".*\\..*\\..*\\.Xm"/>
				<data android:pathPattern=".*\\..*\\..*\\.xM"/>
				<data android:pathPattern=".*\\..*\\..*\\.XM"/>
				<data android:pathPattern=".*\\..*\\..*\\.wav"/>
				<data android:pathPattern=".*\\..*\\..*\\.Wav"/>
				<data android:pathPattern=".*\\..*\\..*\\.wAv"/>
				<data android:pathPattern=".*\\..*\\..*\\.waV"/>
				<data android:pathPattern=".*\\..*\\..*\\.WAv"/>
				<data android:pathPattern=".*\\..*\\..*\\.WaV"/>
				<data android:pathPattern=".*\\..*\\..*\\.wAV"/>
				<data android:pathPattern=".*\\..*\\..*\\.WAV"/>
				<!-- Four periods -->
				<data android:pathPattern=".*\\..*\\..*\\..*\\.flac"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Flac"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.fLac"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.flAc"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.flaC"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.FLac"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.FlAc"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.FlaC"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.fLAc"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.fLaC"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.flAC"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.FLAc"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.FlAC"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.FLaC"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.fLAC"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.FLAC"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mid"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Mid"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mId"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.miD"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MId"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mID"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MiD"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MID"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.smf"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Smf"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.sMf"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.smF"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.SMf"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.sMF"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.SmF"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.SMF"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.kar"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Kar"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.kAr"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.kaR"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.KAr"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.kAR"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.KaR"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.KAR"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.m4a"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.M4a"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.m4A"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.M4A"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.midi"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Midi"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mIdi"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.miDi"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.midI"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MIdi"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MiDi"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MidI"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mIDi"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mIdI"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.miDI"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MIDi"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mIDI"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MiDI"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MIdI"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MIDI"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mp3"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Mp3"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mP3"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MP3"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.ogg"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Ogg"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.oGg"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.ogG"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.OGg"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.OgG"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.oGG"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.OGG"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.669"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.amf"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Amf"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.aMf"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.amF"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.AMf"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.AmF"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.aMF"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.AMF"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.dsm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Dsm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.dSm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.dsM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.DSm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.DsM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.dSM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.DSM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.far"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Far"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.fAr"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.faR"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.FAr"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.FaR"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.fAR"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.FAR"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.gdm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Gdm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.gDm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.gdM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.GDm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.GdM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.gDM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.GDM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.imf"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Imf"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.iMf"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.imF"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.IMf"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.ImF"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.iMF"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.IMF"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.it"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.It"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.iT"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.IT"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.med"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Med"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mEd"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.meD"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MEd"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MeD"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mED"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MED"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mod"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Mod"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mOd"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.moD"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MOd"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MoD"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mOD"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MOD"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mtm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Mtm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mTm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mtM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MTm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MtM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.mTM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.MTM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.s3m"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.S3m"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.s3M"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.S3M"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.stm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Stm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.sTm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.stM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.STm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.StM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.sTM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.STM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.stx"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Stx"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.sTx"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.stX"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.STx"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.StX"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.sTX"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.STX"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.ult"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Ult"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.uLt"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.ulT"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.ULt"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.UlT"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.uLT"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.ULT"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.uni"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Uni"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.uNi"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.unI"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.UNi"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.UnI"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.uNI"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.UNI"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.xm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Xm"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.xM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.XM"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.wav"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.Wav"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.wAv"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.waV"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.WAv"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.WaV"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.wAV"/>
				<data android:pathPattern=".*\\..*\\..*\\..*\\.WAV"/>
			</intent-filter>
		</activity>
		<activity
			android:name="com.xperia64.timidityae.SettingsActivity"
			android:configChanges="uiMode|keyboard|keyboardHidden|orientation|screenSize"
			android:label="@string/app_name"
			android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
		</activity>
		<activity
			android:name="com.xperia64.timidityae.DummyActivity"
			android:allowTaskReparenting="true"
			android:alwaysRetainTaskState="false"
			android:clearTaskOnLaunch="true"
			android:enabled="true"
			android:excludeFromRecents="true"
			android:finishOnTaskLaunch="true"
			android:noHistory="true"
			android:stateNotNeeded="true"
			android:theme="@android:style/Theme.NoDisplay"/>

		<service
			android:name="com.xperia64.timidityae.MusicService"
			android:enabled="true">
		</service>

		<receiver
			android:name="com.xperia64.timidityae.gui.TimidityAEWidgetProvider"
			android:icon="@drawable/ic_launcher"
			android:label="Timidity AE Widget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/timidity_widget"/>
		</receiver>
	</application>

</manifest>
